<app-loader></app-loader>
<div class="container">
    <div class="row">
        <div class="col-4">
            <!-- <img src="./../../../../assets/icons/line.png" alt="" class="logo"> -->
        </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Econet Avondale Branch</h5>
              <div class="row">
                <div class="col-6">Hotline</div>
                <div class="col-6">111</div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-4"></div>
    </div>
</div> 